@import './base.css';

body{
  background-image:linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)) ,url(../assets/images/Layer1.svg);
  background-attachment: fixed;
}
a{
  text-decoration: none;
  color: #000;
}
.nnav-link{
  display: inline-block;
  color: #1e1e1e;
  font-weight: bold;
  font-size: 18px;
  padding: 4px 0;
  position: relative;
  text-decoration: none;
}

.custom-padding-top {
  padding-top: 130px;
  border:1px solid #000
}
#mainContent{
  padding-top: 130px;
}
